/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

:root {
  --nav-bg-color: #1992D4;
  --header-bg-color: #FFFFFF;
  --main-bg-color: #E2E8F0;
  --card-text-color: #6A6A6A;

  --nav-width: 300px;
  --header-height: 150px;
  --svg-color-filter: invert(0);
}

:root.dark {
  --nav-bg-color: #1992D4;
  --header-bg-color: #1E293B;
  --main-bg-color: #0F172A;
  --card-text-color: #a3aab6;
  color: #FFFFFF;
  --svg-color-filter: invert(1);
}

body {
  display: grid;
  grid-template-columns: var(--nav-width) 1fr;
  grid-template-rows: var(--header-height) 1fr;
}

nav {
  background-color: var(--nav-bg-color);
  grid-row: 1 / 3;
  font-size: 1.1rem;
}

.nav-content-container {
  position: fixed;
  top: 0px;
}

header {
  background-color: var(--header-bg-color);
  padding: 1em 3em;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  z-index: 1;
}

main {
  background-color: var(--main-bg-color);
}

main p {
  color: var(--card-text-color);
}

/* navbar */

.navbar-links-list {
  list-style: none;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.navbar-links-list a:link,
.navbar-links-list a:visited {
  font-weight: 600;
  text-decoration: none;
  color: white;
}

.logo {
  display: flex;
  gap: 1em;
  align-items: center;
  padding: 1em 1em;
  color: white;
}

.logo-image {
  height: 70px;
  width: 70px;
}

.icon {
  height: 1em;
  width: 1em;
}

.navbar-links-list li {
  display: flex;
  gap: 1em;
  align-items: center;
}

.logo, .navbar-links-list li:nth-child(6){
  margin-bottom: 2rem;
}


/* header */
header {
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.search-row label {
  height: 1.5em;
  aspect-ratio: 1/1;
}

.search-row {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  align-items: center;
  gap: 1rem;
}

.search-row input{
  border-radius: 30px;
  border: none;
  padding: 0.3em 2em;
  background-color: var(--main-bg-color);
  color: inherit;
}

.notification, .swap-theme-button{
  border: none;
  background: none;
}
.notification img,
.swap-theme-button img {
  height: 2em;
}

.user-info-row {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  align-items: center;
  gap: 1rem;
}

.pill {
  border-radius: 30px;
  border: none;
  background-color: var(--nav-bg-color);
  color: white;
  padding: 0.5em 2em;
  font-weight: 600;
}

.avatar img{
  height: 70px;
  border-radius: 50%;
}

.greeting {
  font-weight: 600;
}

.greeting p:nth-child(2) {
  font-size: 1.3em;
}

/* main */
main {
  padding: 20px;
  display: grid;
  grid-template-columns: 5fr 2fr;
  gap: 20px;
}

.projects-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}

.projects-container .card,
.announcements-container,
.trending-container {
  background: var(--header-bg-color);
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.card {
  min-height: 250px;
  border-left: 10px solid var(--nav-bg-color);
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .card-buttons-container{
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}

.card-buttons-container button {
  border: none;
  background: none;
}

.card-buttons-container img {
  filter: var(--svg-color-filter);
  height: 2rem;
  aspect-ratio: 1/1;
}

.announcements-container,
.trending-container {
  padding: 1.5em;
}

.announcements-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  border-top: ;
}

.announcement {
  padding: 0.5em 0;
}

.announcement:nth-child(2){
  border-width: 1px 0px;
  border-color: var(--card-text-color);
  border-style: solid;
}

/* trending */
.trending-card {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

.trending-card img {
  grid-row: 1 / 2;
  height: 70px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-bottom: 1em;
}


/* svg colors */
.swap-theme-button img,
.notification img,
label[for="search"] img {
  filter: var(--svg-color-filter);
}